/* coupon css */
.couponContainer{
    max-height: 600px;
    position: fixed;
    top: 22vh;
    right: auto;
    left: auto;
    z-index: 100000;
    opacity: 1;
    width: 100%;

}
.weather-container{
    display: inline-block;
    margin-left: 10px;
}
.qq{
    width: 60px;
    display: inline-block;
    font-size: large;
    padding: 0;
  
}
.q{
    margin-bottom: 4px;
    margin-left: -7px;
    
}
.coupon {
    border: 5px #bbb; /* Dotted border */
    width: 80%;
    border-radius: 15px; /* Rounded border */
    margin: 0 auto; /* Center the coupon */
    max-width: 600px;
    background-image: url("https://www.w3schools.com/w3images/hamburger.jpg");
    background-size: cover;
    height: 100%;
    
  }
  
  .container {
    padding: 2px 16px;
    margin-top: 10%;
    font-weight: bold;

    /* background-color: #f1f1f1;  */
  }
  
  .promo {
    /* background: #ccc; */
    padding: 3px;
  }
  
  .expire {
    color: red;
  }

  .blur{
    filter: blur(5px);
    
  }



  /* header */

header{
    background-image:url("bg1.jpg");
    background-size: cover;
    width: 100%;
}
#company-name{
    color: #fff;
    text-align: center;
    font-weight: bolder;
}
.caption{
    color: #fff;
}
.container-search{
    width: 55%;
    margin-left:23%;
}

.img-card{
    height: 18em;
    
}

.img-desc{
    position: absolute;
    top: 77%;
    font-size: large;
    color: #fff;
    line-height: 0;
}

@media screen and (max-width:576px) {
    nav{

        background-color: #484e53;
    }
    .container-search{
        width: 64%;
        margin-left: 18%;
    }
    
}
@media screen and (max-width:391px) {

    .container-search{
        width: 80%;
        margin-left: 10%;
    }
    
}

@media screen and (min-width:577px) {
    .container-search{
        background-color: #fff;
        border-radius: 7px;
        border: 1px solid #fff;
    }
    .dropdown-container{
        width: 44%;
    }
    .container-search{
        width: 65%;
        margin-left:17%;
    }
}


