*{
    margin: auto;
}
.red{
    color: #FA4616;
}
.gray{
    color: gray;
}
.point{
    font-size: xx-small;
    color: #000;
}
body{
    width: 90%;
    margin-left: 5%;
    background-color: #ECE6E6;
}
header{
    margin-right: -6%;
    display: flex;
    background-color: #fff;
    margin-left: -6%;
    /* margin-bottom: 2%; */
    height: 6em;
}
.comp-name{
    font-size: 2.5em;
    color: #ff4e4e;
    font-weight: bolder;
    margin-left: 2%;
    margin-top: 1.5%;
}

.location-icon{
    font-size: x-large;
    margin-left: 3%;
    margin-right: 8%;
    color: #ff4e4e;
}
#search-dropdown{
    display: flex;
    width: 18%;
    border: 1px solid rgb(166, 166, 167);
    margin-top: 1%;

    background-color: #fff;
    color: #111;
    border-radius: 5px;
}

#search-input{
    display: flex;
    width: 29%;
    border: 1px solid rgb(166, 166, 167);
    margin-top: 1%;
    margin-left: -2%;
    background-color: #fff;
    color: #111;
    border-radius: 5px;
}

#search-input >input{
    width: 85%;
    height: 3em;
    margin-left: 1%;
    font-size: larger;
    border: rgb(166, 166, 167);
    border-radius: 15px;
}

#search-icon{
    font-size: x-large;
    margin-top: 4%;
    margin-left: 1%;
    color: #b7b7b7;
}

.dropDown{
    width: 90%;
    margin-right: 2%;
}

.dropDown >select{
    width: 100%;
    height: 3em;
    font-size: larger;
    border-radius: 5px;
    border: none;
}
.signup-btn{
    position: relative;
    /* margin-top: 20%; */
    background-color: #FA4616;
    font-size: large;
    padding: 1.2% 3%;
    color: #fff;
    border: rgb(242, 58, 12);
    border-radius: 5px;
    margin-left: 10%;
}

/* header end */


/* filter start */

#filter-container{
    width: 16%;
    border: 1.5px solid rgb(195 189 189);
    height: 600px;
    float: left;
    padding-left: 3%;
    background: #fff;
    margin-top: 2.5%;
    
    padding-top: 3%;
    margin-left: 1%;
}

#filter-container >p{
    font-size: larger;
    color:  rgb(101 93 93);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin-bottom: 2.2em;
    margin-top: 1.8em;
}
.filter-type{
    margin-bottom: 2em;
    line-height: 1.4;
}
.filter-type >p{
    font-family: sans-serif;
    margin-bottom: 5%;
}

/* filter end */


#menucart-wrapper{
    width: 75%;
    float: right;
    margin-left: 3%;
}
.menu-cart{
    width: 99%;
    height: 160px;
    margin-left: -1%;
    border: 1.5px solid rgb(195 189 189);
    margin-top: 3%;
    display: flex;
    align-items: flex-start;
    background-color: #fff;
}
.menu-img{
    width: 26%;
    height: 100%;

}
.menu-img > img{
    width: 95%;
    height: 135px;
    margin-top: 5%;
    margin-left:5%;
}


.menu-info{
width: 60%;
height: 90%;
margin-left: 3%;
}
.restaurant-name{
    font-size: x-large;
    margin-top: 1%;
    margin-bottom: 0.8%;
}
.address{
    font-size: small;
    color: rgb(133, 128, 128);
    display: block;
    margin-bottom: 4%;
}
.price{
    margin-right: 5%;
    color: rgb(133, 128, 128);
    
}
.dish-type{
    color:rgb(133, 128, 128) ;
    margin-left: 10%;
}
.icon{
    margin-right: 3%;
    margin-top: 2%;
    font-size: x-large;
}

.offer-info{
    margin-top:1%;
}
.offer-info > span{
    background-color: rgb(67, 160, 71);
    font-size: small;
    color: #fff;
    border-radius: 3px;
    margin-right: 9px;
}

.order{
    width: 23%;
}
.order >button {
    position: relative;
    margin-top: 20%;
    background-color: #FA4616 ;
    font-size: x-large;
    padding: 3% 13%;
    color: #fff;
    border: rgb(242, 58, 12);
    border-radius: 5px;
}
.rating{

    margin-top: 10%;
    
}
.rating > span{
    border: 2px solid;
    background-color: rgb(67, 160, 71);
    color: #fff;
    padding: 6px;
    border-radius: 7px;
    
}