.navbar {
    width: 100%;
    background-color: #FA4616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 50;
    font-size: 1.24rem;
    font-weight: bold;
    color: rgb(255, 255, 255 ,0.85);
}

.navbar__links {
    display: flex;
    list-style: none;
    align-items: center;
  }
.navbar__links a {
    padding-left: 1.2rem;
    color: #74b5a7;
}
.navbar__links button {
    padding-left: 1.2rem;
    color: rgb(255, 255, 255 ,0.85);
    background-color: #74b5a7;
    margin-left: 0.8rem;
    padding-right: 1rem;
    font-weight: 600;
}
.active{
    color: rgb(255, 255, 255 ,1) !important
}


      